@import 'assets/styles/variables.scss';

.button {
  padding: 10px 20px 10px 20px;
  line-height: 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  color: $color-white;
}

.primary {
  background: $color-work-ua-blue;
}

.success {
  background: $color-green;
}

.error {
  color: $color-work-ua-red;
}

.link {
  margin-left: 4px;
  padding: 0;
}
