$color-white: #ffffff;
$color-green: #74C241;
$color-grey: #E9EBED;
$color-work-ua-black: #000;
$color-work-ua-red: #FF3B30;
$color-work-ua-soft-red: #FFD8D6;
$color-work-ua-gray: #F4F5F6;
$color-work-ua-blue: #00A1F1;
$color-work-ua-100: #2C3F52;
$color-work-ua-70: #6b7886;

$work-ua-bg: $color-white;
$main-bg: #E5E5E5;
$secondary-bg: $color-white;
$third-bg: $color-work-ua-gray;

$color-link: #0094DF;
$color-error: $color-work-ua-red;
$color-border: $color-grey;
$color-border-secindary: #B6C9D6;
$color-border-error: #FFBDC4;
